.main{
    color: #fff;
    font-size: 12px;

}

.first-block{
    background: #cc99ff;
    display: flex;
    justify-content: center;
    padding: 2em 1em;
    flex-wrap: wrap;
}
.first-block-content{
    position: relative;
    max-width: 300px;
    border-radius: .8em;
    padding: 3em 2em;
    color: #000;
    background: #fef8fb;
    margin: 1em .8em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 .1em .8em #000;
    transition: .3s;
}
.first-block-content:hover:before,.first-block-content:hover:after{
    background: #fa8072;
    transition: .5s;
    transform: scale(1.2) ;
    border-radius: 100%;
}
.first-block-content:hover{
    border-radius: 1.3em;
    transform: scale(1.1);
    transition: .3s;
}
.first-block-content:hover:before{
    transform:rotate(150deg);
}
.first-block-content:hover:after{
    transform:rotate(-150deg);
}
.first-block-content i{
    color: #dd3478;
    font-size: 4em;
}
.first-block-content:before,
.first-block-content:after{
    content: "";
    width: 2.2em;
    height: 2.2em;
    border-radius: .4em;
    position: absolute;
    background: red;
    transform: rotate(45deg);
    top: .5em;
}
.first-block-content:before{
    left: .5em;
}
.first-block-content:after{
    right: .5em;
}
.first-block-content h6{
    font-size: 0.8em;
    margin-top: .8em;
    text-transform: uppercase;
    font-weight: 800;
    background: #fff;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

@media screen and (max-width: 1000px){
    .main{
        font-size: 10px;
    }
    .first-block-content{
        width: 10em;
    }
}
@media screen and (max-width: 700px){
    .main{
        font-size: 8px;
    }
}